
.fade-enter {
  opacity: 0.01;

}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.fade-leave {
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
